{% extends 'base.html' %}
{% load split %}
{% block content %}
{% load compress %}
{% compress css %}
<style>
.proj-item:nth-child(odd) div.proj-info {
  float: right;
}
.proj-item:nth-child(odd) div.proj-image {
  float: left;
}
.proj-item:nth-child(even) div.proj-info {
  float: left;
}
.proj-item:nth-child(even) div.proj-image {
  float: right;
}
div {
    text-align: justify;
    text-justify: inter-word;
}
#lineheight {
    line-height: 130%;
}

</style>
{% endcompress %}
<div class="row">
    <div class="row center">
        <div class="col l12 s12">
            <h3><span>{{sig.name}}</span></h3>
        </div>
    </div>
    <div class="row center">
        <img src="/media/{{sig.avatar}}" class="responsive-img" width="350px">
    </div>
    <div class="row">
        <div class="col l10 offset-l1">
            <h6 id="lineheight"><center><span>{{sig.description}}</span></center></h6>
        </div>
    </div>

    <div class="row">
        <div class="col l10 offset-l1">
            <h4 class="left"><span>Projects {{year}}</span></h4>
        </div>
    </div>
</div>    
    {% for project in projects %}
<div class="row proj-item">
    <div class="col l10 offset-l1 s12 z-depth-3">
        <div class="col l4 s12 proj-image center">
            <img src={{project.img_url}} class="responsive-img" height="250px" width="250px" style="padding-top: 25px;">
        </div>
        <div class="col l8 s12 proj-info">
            <h4 class="center">{{project.name}}</h4>
            <div class="col l12 s12 center">
                <h6 class="center">{{project.summary}}</h6>
                <div class="row center">
                    <a class="waves-effect waves-light btn-small" href="{% url 'project:details' project.id %}">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
<div class="row center">
    <a class="waves-effect waves-light btn" href="{% url 'project:index' sig %}"><i class="material-icons small" style="vertical-align: bottom;">list</i>More Projects</a>
</div>
{% endblock %}