{% extends 'base.html' %}
{% load split %}
{% block content %}
<style>
.proj-item:nth-child(odd) div.proj-info {
  float: right;
}
.proj-item:nth-child(odd) div.proj-image {
  float: left;
}
.proj-item:nth-child(even) div.proj-info {
  float: left;
}
.proj-item:nth-child(even) div.proj-image {
  float: right;
}
div {
    text-align: justify;
    text-justify: inter-word;
}

</style>
<div class="row">
    <div class="row center">
        <div class="col l12">
            <h3><span>{{sig.name}}</span></h3><br>
        </div>
    </div>
    <div class="row center">
        <img src="/media/{{sig.avatar}}" class="responsive-img" width="350px">
    </div>
    <div class="row">
        <div class="col l10 offset-l1">
        <h6><span>{{sig.description}}
            
            Contrary to popular belief, Lorem Ipsum is not simp
            andom text. It has roots in a piece of classical Latin literature fro
            m 45 BC, making it over 2000 years old. Richard McClintock, a Latin p
            rofessor at Hampden-Sydney College in Virginia, looked up one of the m
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and go
            ing through the cites of the word in classical literature, discovered
            the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 
            1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
            Evil) by Cicero, written in 45 BC. This book is a treatise on the the
            ory of ethics, very popular during the Renaissance. The first line of
            Lorem Ipsum, "Lorem ipsum dolor sit amet..", 
            comes from a line in section 1.10.32.
        </span></h6>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col l10 offset-l1">
            <h4 class="left"><span>Projects {{year}}</span></h4>
        </div>
    </div>
    {% for project in projects %}

    <div class="row proj-item">
        <div class="col l10 offset-l1 z-depth-3">
            <div class="col l4 s12 proj-image center">
                    <img src={{project.img_url}} class="responsive-img" width="250px">    
                
            </div>
            <div class="col l8 center proj-info card-item">
                <h4 class="center">{{project.name}}</h4>
                <div class="col l12">
                    <h6>{{project.summary}}
                    </h6>
                    <center><a class="waves-effect waves-light btn-small" href="{% url 'project:details' project.id %}">View Details</a></center><br>
               </div>
            </div>
        </div>
    </div>
    <!-- <div class="row proj-item">
        <div class="col l10 offset-l1 z-depth-3">
            <div class="col l4 s12 proj-image center">
                    <img src={{project.img_url}} class="responsive-img" width="250px">    
                
            </div>
            <div class="col l8 center proj-info card-item">
                <h4 class="center">{{project.name}}</h4>
                <div class="col l12">
                    <h6>{{project.summary}}
                        
                        Contrary to popular belief, Lorem Ipsum is not simp
                        andom text. It has roots in a piece of classical Latin literature fro
                        m 45 BC, making it over 2000 years old. Richard McClintock, a Latin p
                        rofessor at Hampden-Sydney College in Virginia, looked up one of the m
                        
                    </h6>
                    <center><a class="waves-effect waves-light btn-small">View Details</a></center>
                </div>
            </div>
        </div>
    </div> -->
</div>
{% endfor %}
<div class="row center">
    <a class="waves-effect waves-light btn" href="{% url 'project:index' sig %}"><i class="material-icons small" style="vertical-align: bottom;">list</i>More Projects</a>
</div>
{% endblock %}