.main {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: white;
}
.header {
	text-transform: capitalize;
	font-weight: lighter;
}
.content {
	display: flex;
	width: 90%;
	height: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.navElement {
	width: 20%;
	margin: 1%;
	border-radius: 50%;
	opacity: 0.75;
}
.navElement:hover {
	opacity: 1 !important;
	cursor: pointer;
}
.active {
	opacity: 1 !important;
}
.navElement img {
	width: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
	object-fit: cover;
}
.buttonHeader {
	margin-top: 10%;
	visibility: hidden;
	text-align: center;
	padding-bottom: 0%;
}
.navElement:hover .buttonHeader {
	visibility: visible;
}
