{% extends 'base.html' %}
{% block content %}
<h3><span>{{event.name}}</span></h3>

<div class="row">
    <div class="col l16 m8 offset-m2 s12">
        <div class="card hoverable z-depth-3">
            <div class="card-image responsive-img">
                <img src="{{event.poster.url}}">
                {% if user.is_authenticated %}
                    <a id="edit" href="{% url 'event:edit' event.id %}" class="halfway-fab btn-floating">
                        <i class="material-icons">edit</i>
                    </a>
                {% endif %}
            </div>
            <div class="card-content">
                <p class="grey-text">
                    <i class="inline-icon material-icons">date_range</i> 
                    {{event.date_time | date:"d/m/Y P"}} 
                </p>
                <br>
                <p class="grey-text">
                    <i class="inline-icon material-icons">location_on</i>{{event.venue}}
                </p>
                <br>
                <p class="grey-text">
                    <i class="inline-icon material-icons">group</i>
                    {% for sig in event.sigs.all %}
                        {% if forloop.first %}
                            {{sig}}
                        {% else %}
                            , {{sig}}
                        {% endif %}
                    {% endfor %}
                </p>
                <br>   
                <p class="grey-text">
                    Maximum group members: {{event.no_of_participants}}
                </p>
                <br>

                <div class="divider"></div>
                <h5 class="center">About the event</h5>
                <br>
                <p class=" grey-text text-darken-2">
                    {{event.publicity_message | safe}}
                </p><br>
                
                <div class="divider"></div><br>
                <p class=" grey-text text-darken-2">
                    Points of contact:<br>
                    <ul>
                        {% for member in event.contacts.all %}
                            {% if member.gender == 'F' %}
                                <li>{{member.first_name}} {{member.last_name}} : {{member.hostel_address}}</li>
                            {% else %}
                                <li>{{member.first_name}} {{member.last_name}} : {{member.phone_number}}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </p><br>
            <div class="card-action">
                <center>
                    <a class="indigo-text" href="{{event.form_url}}">Register Now</a>
                </center>
            </div>

        </div>
    </div>
</div>

{% endblock %}
