{% extends 'base.html' %}
{% block content %}
{% if isEmpty == 'True'%}
<h3><span>No Events scheduled for now</span></h3>
{% else %}

<h3><span>Upcoming Events</span></h3>

<div class="row">
    {% for event in events %}
    <div class="col s12 m6 l4">
        <div class="card hoverable large z-depth-3">
                <div class="card-image">
                    <img src="{{event.poster.url}}">
                </div>
                <div class="card-content">
                    <h5 class="center">{{event.name}}</h5>
                    <p class="grey-text">
                        <i class="inline-icon material-icons">date_range</i> 
                        {{event.date_time | date:"d/m/Y P"}} 
                    </p>
                    <br>
                    <p class="grey-text">
                        <i class="inline-icon material-icons">location_on</i>{{event.venue}}
                    </p>
                    <br>
                    <p class="grey-text">
                        <i class="inline-icon material-icons">polymer</i>
                        {% for sig in event.sigs.all %}
                            {% if forloop.first %}
                                {{sig}}
                            {% else %}
                                , {{sig}}
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>

                <div class="card-action">
                    <center><a class="indigo-text" href="{% url 'event:details' event.name %}">View Details</a></center>
                </div>
 
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
