.main {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 5% auto;
    width: 86%;
    box-shadow: 5px 5px 10px 5px gray;
}
.imageContent {
    height: 85%;
    width: 30%;
    margin: auto var(--smallMarginSize);
}
.content {
    height: 100%;
    width: 60%;
    margin: 2% var(--smallMarginSize);
}
.header {
    text-align: center;
    font-weight: lighter;
}
.image {
    padding: 10%;
    aspect-ratio: 1;
    max-width: 100%;
    object-fit: cover;
}
.buttonContent {
    text-align: center;
    padding-top: 2%;
}
.tagContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tagContainer > * {
    font-size: 1.1rem;
    padding: 2%;
    margin: 2%;
    background: rgba(128, 128, 128, 0.692);
    border-radius: 10%;
    color: white;
}
@media only screen and (max-width: 1260px) {
    .tagContainer {
        visibility: hidden;
    }
}
