{% extends "base.html" %}

{% block styles %}
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/home/counter.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/home/home_items.css' %}" media="screen,projection"/>
{% endblock %}

{% block carousel %}
    <div class='indigo darken-4'>
        <div id="homecarousel" class="carousel carousel-slider center carousel_images">

            <div class="carousel-item" href="#one!">
                <img src='/./media/carousel_home/CryptoberCover.jpg'/>
            </div>
    
            <div class="carousel-item" href="#two!">
                <img src='/./media/carousel_home/DSC_0009.JPG'/>
            </div>
    
            <div class="carousel-item" href="#three!">
                <img src='/./media/carousel_home/DSC_0014.JPG'/>
            </div>
        </div>
        <br>
        <div class="center" id="RegisterButton">
            <a href="{% url 'event:index' %}" class="btn waves-effect white black-text ">Register</a>
        </div>
        <br>
    </div>    
{% endblock %}

{% block content %}
    <div class="row">
        <h3>
            <span>
                Special Interest Groups (SIGs)
            </span>
        </h3>
        {% for sig_choice in sigs %}
        <div class="col s12 l3 sigcard">
            <div class="card z-depth-4">
                <div class="card-image waves-effect waves-block waves-light ">
                    <img class="activator" src="/media/{{sig_choice.avatar}}">
                </div>
                <div class="card-content activator indigo darken-3 waves-effect waves-block waves-light">
                    <span class="card-title activator white-text text-darken-4">
                        {{sig_choice.name}}
                        <i class="material-icons right">
                            more_vert
                        </i>
                    </span>
                </div>
                <div class="card-reveal">
                    <span class="card-title white-text">
                        {{sig_choice.name}}
                        <i class="material-icons right">
                            close
                        </i>
                    </span>
                    <hr>
                    <p class="white-text">
                        {{sig_choice.description|safe}}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <div id="counter" class="center row">
        <h3>
            <span>
                In Numbers
            </span>
        </h3>
        <div class="col l4 s12">
            <h2 class="year"></h2>
            <span>
                Years In Operation
            </span>
        </div>
        <div class="col l4 s12">
            <h2 class="member"></h2>
            <span>
                Members This Year
            </span>
        </div>
        <div class="col l4 s12">
            <h2 class="project"></h2>
            <span>
                Projects This Year
            </span>
        </div>
    </div>

    <div class="center row">
        <h3>
            <span>
                The Core
            </span>
        </h3>
        <div class='flexrow'>

            {% for member in core %}
            
                <div style="padding: 1%;">

                <!-- Card -->
                <div class="card z-depth-4" style="height: 40vh;width:auto; object-fit: cover;">  <!-- Adjust size of card here -->
                <!-- object-fit:cover centers the image and crops it out if resolution is too big-->

                    <div class="card-image waves-effect waves-block waves-light">

                        <!--card-image here-->
                        <img class="activator" src="media/{{member.user.avatar}}" style="height: 40vh;width: auto;"> <!-- Make size of image match size of card-->
                    
                        <!-- Description on card-->
                        <span class="card-title activator" style="background-color:rgba(0, 0,0, 0.5);width: 100%; font-size: 125%;">{{member.user.first_name}} {{member.user.last_name}}<br>{{member.role}}</b></span>
                 
                    </div>

                    <div class="card-reveal" style="background-color: rgba(0,0,0,0.6);"> <!--On card-reveal-->
                    
                        <!-- Heading -->
                        <span class="card-title white-text text-darken-4">{{member.user.first_name}} {{member.user.last_name}}<i class="material-icons right">close</i></span>
                    
                        <!-- Description for the member-->
                        <p class="white-text">{{member.role}}</p>
                    
                        <!-- To add links for Instagram and Linkedin-->
                        <p class="white-text" style="position: absolute;bottom: 5%;">Linkedin</p>
                        <p class="white-text" style="position: absolute;bottom: 5%;right: 15%;">Insta</p>
                    
                    </div>
                </div>
                </div>
                
                
          
              
            {% endfor %}
        </div>
                
        <div class='flexrow'>
            {% for member in core %}
            <a class="core_img z-depth-2">
                <div class="img__overlay">
                    {{member.user.first_name}} {{member.user.last_name}}
                    <br>
                    {{member.role}}
                </div>
                <img src='media/{{member.user.avatar}}'>
            </a>
            {% endfor %}
        </div>
    </div>
    {% block scripts %}
        {% load static %}
        <script type="text/javascript">
            var year = {{year}};
            var project = {{project}};
            var member = {{member}};
        </script>
        <script type="text/javascript">
            setInterval(function(){
                $('.carousel.carousel-slider').carousel('next');
            },4000);
        </script>
        <script type="text/javascript" src="{% static 'js/home/main.js'%}"></script>
    {% endblock scripts %}

{% endblock content %}