.register {
	animation: animate 2s infinite both;
	font-family: 'GothamPro';
	margin-bottom: 20px;
}
@keyframes animate {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
