@media only screen and (min-width: 1261px) {
  #mobile-carousel {
    display: none;
  }
  .carousel {
    margin-top: -9vh;
    background-color: var(--carouselBackground);
    height: 85vh !important;
  }
  .carousel.carousel-slider.center.carousel_images {
    width: 100%;
    height: 85vh !important;
  }

  .carousel .carousel-item > img {
    width: 100%;
    height: 85vh !important;
    object-fit: cover;
    opacity: 1;
  }
}

@media only screen and (max-width: 1260px) {
  #desktop-carousel {
    display: none;
  }
  .carousel {
    margin-top: -15%;
    background-color: var(--carouselBackground);
    height: 40vh !important;
  }
  .carousel.carousel-slider.center.carousel_images {
    width: 100%;
    height: 40vh !important;
  }
  .carousel .carousel-item > img {
    width: 100%;
    height: 40vh !important;
    object-fit: cover;
  }
}
