h3{
    color: var(--primary) ;
    text-align:center;
}
h3 span{
  display:inline-block;
  position:relative;
  overflow:hidden;
}
h3 span:after,
h3 span:before{
  content:"";
  height:0.1rem;
  width:100%;
  position:absolute;
  bottom:0px;
  left:0;
  transition: 3s;
}
h3 span:before{
  background:#ccc;
}

h3 span:after{ 
  background: var(--primary);

  left:100%;
}
h3 span.animateLine:after{
  left: -75%;
}

.core_img{
    border-radius: 100%;
    display: flex;
    flex: 0 0 150px;
    height: 150px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    flex-direction: row;
    width: 150px;
    margin:2%;
}

.core_img img{
    height:100;
}

.img__overlay{
    align-items: center;
    flex-direction: row;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity:0;
    position: absolute;
    right: 0;
    top: 0;
    transform: opacity 0.25s;
    z-index:1;
}

.img__overlay:hover{
    opacity:1;
}

.img__overlay{
    background-color: rgba(0,0,0,1);
    color: #fafafa;
    font-size: 15px;

}



.flexrow{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

