.footer .page-footer {
    background-color: var(--primary);
}
.crypt {
    background-color: #0c0013 !important;
    background-image: url("../components/Transcend/Cryptonite/background.png");
}
.charge {
    background-color: #00405b !important;
}
.footer .anchor {
    padding-left: 30px;
}

.footer .text {
    color: var(--secondary);
}
.crypt.footer .text {
    color: #60fb52;
}
.crypt.footer .white-text {
    color: #60fb52 !important;
}
