.footer .page-footer {
    background-color: var(--primary);
}
.crypt {
    background-color: #1b0225 !important;
    background-image: url("../components/Transcend/Cryptonite/background.jpg");
}
.charge {
    background-color: #00405b !important;
}
.footer .anchor {
    padding-left: 30px;
}

.footer .text {
    color: var(--secondary);
}
