
.leaderboard {
    --Primary: rgb(228, 243, 255);
    --Secondary: rgb(16, 21, 95);
}
.input {
    margin: 10px 10px !important;
    max-width: 100px;
    color: var(--Secondary);
}

.choice {
    display: inline;
}



.button {
    background-color: var(--Primary);
    color: var(--Secondary);
    border: 2px solid var(--Secondary);
    padding: 10px 5px;
    margin: 0px 5px;
    border-radius: 17px;
    font-family: "abcd";
}

.button:hover {
    cursor: pointer;
}

.label {
    color: var(--Secondary);
}

.button.active {
    background-color: var(--Secondary);
    color: var(--Primary);
}
.header {
    font-family: "abcd";
    font-weight: 100;
    color: var(--Secondary);
}
h1{
        font-size:8vw;
}
.table > tbody tr {
        border-color: var(--Secondary);
        border-width: 2px;
}
.table{
        margin-bottom: 5%;
}
.table > thead th {
        color: var(--Primary);
        background-color: var(--Secondary);
        text-transform: capitalize;
        border-radius: 0px;
        font-weight: bold;
        font-size: 4.5vw;
}
.filter label {
        font-size: 4vw;
        color: var(--Secondary);
}
    
.table {
        text-transform: capitalize;
        font-size: 4vw;
 }
 @media only screen and (min-width : 768px) {
        h1{
            font-size:40px;
        }
        .table > tbody tr {
            border-color: var(--Secondary);
            border-width: 2px;
        }
        .table{
            margin-bottom: 5%;
        }
        .table > thead th {
            color: var(--Primary);
            background-color: var(--Secondary);
            text-transform: capitalize;
            border-radius: 0px;
            font-weight: bold;
            font-size: 20px;
        }
        .filter label {
            font-size: 20px;
            color: var(--Secondary);
        }
        
        .table {
            text-transform: capitalize;
            font-size: 20px;
        }
    }
