.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10em;
    margin: 10% 5%;
}
.main>*{
    flex-basis: calc(min(25em,80vw));
    height: calc(min(25em,80vw));
    flex-shrink: 0;
    flex-grow: 0;
}