.sigComponent .video-container {
  width:100%;
  height: auto;
  align-items: center;
}

.sigComponent{
  padding-top: 5vh;
}

.videotitle {
  font-weight: lighter;
}

.description {
  line-height: 1.5;
  text-align: justify;
  padding:5%;
  font-weight: lighter;
}


h3, h4{
  font-weight: lighter;
  color:var(--primary)
}