@media only screen and (min-width: 1261px) {
	.cardImage {
		max-height: 35vh;
	}
	.projectCard {
		padding: 0%;
	}
	.cardImage {
		padding-top: 5%;
		padding-bottom: 5%;
		width: 95%;
	}
}

@media only screen and (max-width: 1260px) {
	.cardImage {
		width: 95%;
		padding-top: 10%;
		padding-bottom: 5%;
	}

	.projectCard {
		width: 90%;
		margin-left: 5%;
	}
}
.cardImage {
	aspect-ratio: 1/1 !important;
}
.descCard {
	padding-left: 5%;
	font-weight: lighter;
}

.detButton {
	padding-top: 2%;
}

.btnColor {
	background-color: var(--primary);
	border-radius: 10%;
	transition-duration: 0.4s;
}

.btnColor:hover {
	background-color: var(--primary);
	opacity: 0.75;
}
