.main {
	position: relative;
	width: 100%;
}
.title {
	position: absolute;
	top: 10%;
	font-size: 4rem;
	margin: 2%;
}
.desc {
	position: absolute;
	top: 25%;
	margin: 2%;
	font-size: 1.5rem;
}
.backgroundImage {
	margin-top: 5%;
	width: 100%;
	min-height: 200px;
	max-height: 80vh;
}
