@media only screen and (min-width: 1260px) {
    .main {
        grid-template-areas:
            "a a a b b"
            "c c c b b"
            "d d e e e"
            "d d f f f";
    }
}
@media only screen and (max-width: 1260px) {
    .main {
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "f";
    }
}
.main {
    display: grid;
    margin: 10%;
    gap: 3em;
}
.main > * {
    min-width: 30%;
    height: 100%;
}
.a {
    grid-area: a;
}
.b {
    grid-area: b;
}
.c {
    grid-area: c;
}
.d {
    grid-area: d;
}
.e {
    grid-area: e;
}
.f {
    grid-area: f;
}
