h1 {
    color: #1A237E;
    font-weight: 400;
}

h2, h3, h4 {
    color: #1A237E;
    font-weight: 200;
}



.roundec.flow-text{
    padding:3%;
}

a.dec{
    font-weight: 100;
    color: black;
}

a {
    color: #1A237E;
}
