.mainSection {
  background-color: #262626 !important;
  margin-top: -64px;
  height: 100vh;
  background-image: url("../constants/obscurabanner.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.btnGroup {
  position: absolute;
  top: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn{
  top: 0;
  left: 0;
  width: 180px;
  height: 55px;
  border-radius: 20%/50%;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
}
.instructionBtn {
  background-color: #e83e7d !important;
  box-shadow: 0px 0px 15px #e83e7d;
  margin-left: -2rem;
}
.instructionBtn::before, .loginBtn::before{
  width: 150%;
  height: 150%;
  content: "";
  position: absolute;
  left: -25%;
  top: -25%;
  animation: rotate 2s infinite linear;
}
.instructionBtn:after, .loginBtn:after{
  width: 94%;
  height: 94%;
  border-radius: 20%/50%;
  position: absolute !important;
  left: 3%;
  top: 3%;
}
.instructionBtn::before {
  background: linear-gradient(to right, #fff, #e83e7d);
}
.instructionBtn:after {
  background-color: #e83e7d !important;
  content: "Instructions";
}

.loginBtn {
  background-color: #12a389 !important;
  box-shadow: 0px 0px 15px #12a389;
  margin-left: 2rem;
}
.loginBtn::before {
  background: linear-gradient(to right, #fff, #12a389);
}
.loginBtn:after {
  background-color: #12a389 !important;
  content: "Login";
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1260px) {
  .mainSection {
    height: 30vh;
    margin-top: 0px;
  }
  .btnGroup {
    top: 45vh;
  }
}
@media only screen and (max-width: 395px) {
  .btnGroup {
    flex-direction: column;
  }
  .loginBtn {
    margin-left: 0;
    margin-top: 2rem;
  }
  .instructionBtn {
    margin: 0;
  }
}