.word {
    position: absolute;
    top: 10%;
    padding: 10px;
    background-color: #12a389;
    color: #ddd;
    box-sizing: border-box;
}

.animation {
    animation: moveDown 2.5s ease;
    animation-iteration-count: infinite;
}
@keyframes moveDown {
  from {
    top: 0px;
  }
  to {
    top : 100vh;
  }
}
