.btn .btnDec {
    background-color: var(--secondary) !important;
    color: var(--primary) !important;
}

.btnIn {
    width: 100%;
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
}

.btnIn:hover {
    background-color: var(--primary);
    color: var(--secondary);
}

.btnDec {
    width: 100%;
}

.mainBtn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}
.mainBtn>*{
	margin: 1%;
	flex-grow: 1;
}