div.container ol.faq-list{
    color: #1A237E;
    font-weight: 150;
    list-style: square;
}

div.container ol li p a.ques {
    font-weight: 400;
    color: #1A237E;
}

div.container ol li{
    padding:1%;
}