{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        {% endblock %}
        <title>ISTE NITK</title>
        <link rel = "icon" type = "image/png" href = "/media/logo_2.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}"  media="screen,projection"/>
        <!--Import fontawesome.css for social media icons-->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}"  media="screen,projection"/>
        <script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/counter.js'%}"></script>
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <ul id="mobile-menu" class="sidenav">
            {% if user.is_authenticated %}
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header waves-effect">My Profile<i class="material-icons">arrow_drop_down</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="{% url 'account:edit' %}" class="waves-effect">
                                            Edit Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'account:change_password' %}" class="waves-effect">
                                            Change Password
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'account:logout' %}" class="waves-effect">
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header waves-effect">Events<i class="material-icons">arrow_drop_down</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="{% url 'event:add' %}" class="waves-effect">
                                            Add Event
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'event:index' %}" class="waves-effect">
                                            View Events
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <li><a href="{% url 'project:add' %}" class="waves-effect">Add Project</a></li>
                        </li>
                    </ul>
                </li>
            {% else %}
            <li><a href="{% url 'account:login' %}" class="waves-effect">Login</a></li>
            <li><a href="{% url 'event:index' %}" class="waves-effect">Events</a></li>
            {% endif %}
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header waves-effect">SIGs<i class="material-icons">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="{% url 'sig:details' 'Catalyst' %}" class="waves-effect">
                                        Catalyst
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'sig:details' 'Charge' %}" class="waves-effect">
                                        Charge
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'sig:details' 'Chronicle' %}" class="waves-effect">
                                        Chronicle
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'sig:details' 'Clutch' %}" class="waves-effect">
                                        Clutch
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'sig:details' 'Concrete' %}" class="waves-effect">
                                        Concrete
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'sig:details' 'Create' %}" class="waves-effect">
                                        Create
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'sig:details' 'Credit' %}" class="waves-effect">
                                        Credit
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'sig:details' 'Crypt' %}" class="waves-effect">
                                        Crypt
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li><a href="{% url 'team:index' %}">Our Team</a></li>
            <li><a href="https://istenitk.wordpress.com/" class=" waves-effect">Blog</a></li>
        </ul>
        <ul id="user-action" class="dropdown-content">
            <li>
                <a href="{% url 'account:edit' %}" class="waves-effect">
                    Edit Profile
                </a>
            </li>
            <li>
                <a href="{% url 'account:change_password' %}" class="waves-effect">
                    Change Password
                </a>
            </li>
            <li>
                <a href="{% url 'account:logout' %}" class="waves-effect">
                    Logout
                </a>
            </li>
        </ul>

        <ul id="event-action" class="dropdown-content">
            <li>
                <a href="{% url 'event:index' %}" class="waves-effect">
                    View Events
                </a>
            </li>
            <li>
                <a href="{% url 'event:add' %}" class="waves-effect">
                    Add Event
                </a>
            </li>
        </ul>

        <ul id="sig-action" class="dropdown-content">
            <li>
                <a href="{% url 'sig:details' 'Catalyst' %}" class="waves-effect">
                    Catalyst
                </a>
            </li>
            <li>
                <a href="{% url 'sig:details' 'Charge' %}" class="waves-effect">
                    Charge
                </a>
            </li>
            <li>
                <a href="{% url 'sig:details' 'Chronicle' %}" class="waves-effect">
                    Chronicle
                </a>
            </li>
            <li>
                <a href="{% url 'sig:details' 'Clutch' %}" class="waves-effect">
                    Clutch
                </a>
            </li>
            <li>
                <a href="{% url 'sig:details' 'Concrete' %}" class="waves-effect">
                    Concrete
                </a>
            </li>
            <li>
                <a href="{% url 'sig:details' 'Create' %}" class="waves-effect">
                    Create
                </a>
            </li>
            <li>
                <a href="{% url 'sig:details' 'Credit' %}" class="waves-effect">
                    Credit
                </a>
            </li>
            <li>
                <a href="{% url 'sig:details' 'Crypt' %}" class="waves-effect">
                    Crypt
                </a>
            </li>
        </ul>
        <nav>
            <div class="nav-wrapper">
                <a href="{% url 'home:index' %}" class="brand-logo">
                    <img width="75" src="/media/logo.png">
                </a>
                <a href="#" data-target="mobile-menu" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        {% if user.is_authenticated %}
                            <a class="dropdown-trigger" href="" data-target="user-action">
                                Hi {{user.first_name}}!
                                <i class="material-icons right">
                                    arrow_drop_down
                                </i>
                            </a>
                        {% else %}                       
                            <a href="{% url 'account:login' %}">
                                Login
                            </a>
                    </li>
                    {% endif %}
                                       
                    <li>
                        {% if user.is_authenticated %}
                            <a class="dropdown-trigger" href="#" data-target="event-action">
                                Events
                                <i class="material-icons right">
                                    arrow_drop_down
                                </i>
                            </a>
                        {% else %}
                            <a href="{% url 'event:index' %}">
                                Events
                            </a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{% url 'recruitment:index' %}">
                            Get Recruited
                        </a>
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'project:add' %}">
                                Add Project
                            </a>
                           
                        {% endif %}
                    </li>
                    <li>
                        <a class="dropdown-trigger" href="#" data-target="sig-action">
                            SIGs
                            <i class="material-icons right">
                                arrow_drop_down
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'team:index' %}">
                            Our Team
                        </a>
                    </li>
                    <li>
                        <a href="https://istenitk.wordpress.com/">
                            Blog
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main>
            {% if messages %}
                <div class="row" id="alert_box" style="display:none;">
                    <div class="col s12 m4 offset-m4">
                        <div id="messages_card" class="card darken-2">
                            <div class="row">
                                <div class="col s12 m12">
                                    <div class="card-content white-text">
                                        <h5 class='center'>Message(s)</h5>
                                        <ul>
                                            {% for message in messages %}
                                                <li style="list-style-type: fill !important">{{message}}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col s12 m2">
                                    <i class="material-icons white-text" id="alert_close" aria-hidden="true">close</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% block carousel %}
            {% endblock %} 
            <div class="row"></div>
            <div class="row"></div> 
            <div class='container'>
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">
                            About Us
                        </h5>
                        <p class="grey-text text-lighten-4">
                            We are one of the oldest technical societies at the National Institute of Technology Karnataka. Besides organizing technical and cultural events and competitions for students of the institution, we also host a range of workshops and educational seminars. We strive to promote liberal arts of our members via Special Interest Groups (SIGs) within the club.
                        </p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <div class="row">
                            <h5 class="white-text">
                                Quick Access
                            </h5>
                            <ul>
                                
                                <li>
                                    <a class="white-text" href="{% url 'event:index' %}">
                                        Events
                                    </a>
                                </li>
                                <li>
                                    <a class="white-text" href="{% url 'team:index' %}">
                                        Our Team
                                    </a>
                                </li>
                                <li>
                                    <a class="white-text" href="https://istenitk.wordpress.com/">
                                        Blog
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <a href="https://www.facebook.com/istenitk/" target="_blank" ><i class="center fa fa-facebook-square fa-2x white-text"></i></a>

                            <a href="https://www.instagram.com/istenitk/" target="_blank" class="anchor"><i class="center fa fa-instagram fa-2x white-text"></i></a>

                            <a href="http://www.youtube.com/c/istenitk" target="_blank" class="anchor"><i class="center fa fa-youtube-play fa-2x white-text"></i></a>

                            <a href="https://www.linkedin.com/company/indian-society-for-technical-education-nitk-chapter/?originalSubdomain=in" target="_blank" class="anchor"><i class="center fa fa-linkedin fa-2x white-text"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="center container">
                Made with ❤️ by ISTE Crypt
            </div>
            </div>
        </footer>
        <script type="text/javascript" src="{% static 'js/base.js'%}"></script>
        <script type="text/javascript">
            {% if messages %}
                {% for message in messages %}
                    {% if forloop.counter0 == 0 %}
                            setMessageColour("{{message.level}}");
                    {% endif %}
                {% endfor %}
            {% endif %}
        </script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>