{% extends 'base.html' %}
{% load split %}

{% block styles %}
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/recruitment/index.css' %}"  media="screen,projection"/>
{% endblock %}

{% block content %}

<h3> Recruitment FAQs</h3><br>
<div class="container">
    <ol class="inst-list flow-text">
        <li>
            <p class="black-text">
                <a class="ques">Can I apply for multiple SIGs?</a><br>
                Yes. You can apply for as many SIGs as you want to. Fill out the form for each SIG you want to apply for separately.
            </p>
        </li>
        <li>
            <p class="black-text">
                <a class="ques">How will I know if I am selected for the next round?</a><br>
                You will receive an email and a message on WhatsApp regarding your selection for each round.
            </p>
        </li>
        <li>
            <p class="black-text">
                <a class="ques">Where can I view the details of the recruitment process for a SIG?</a><br>
                You can select the SIG from <a href="{% url 'recruitment:index' %}"><b>here</b></a> to see the details of the recruitment process of that SIG. 
                Additionally, you can also click on the <a class="btn waves-effect indigo darken-4 white-text "><b>APPLY FOR RECRUITMENT</b></a> button on the SIG's page to view the same.
            </p>
        </li>
        <li>
            <p class="black-text">
                <a class="ques">Does ISTE recruit 3rd years?</a><br>
                Yes we do! We do consider exceptional 3rd year candidates as well. However, a majority of our intake will comprise of 2nd years.
            </p>
        </li>
        <li>
            <p class="black-text">
                <a class="ques">I have a query not listed here, who can I contact?</a><br>
                Feel free to contact anyone below if you have any other doubts:<br>
                Amodh Shenoy: <a href="tel:9110837927">9110837927</a><br>
                Aditya Rastogi: <a href="tel:9886517191">9886517191</a><br>
                Nikhil Varghese: <a href="tel:8921374523">8921374523</a>
            </p>
        </li>
    </ol>
</div>

<br><br>

{% endblock %}