.main {
    background: #00405B;
    padding-bottom: 10%;
}
/*
background: #00405B;
--primary: #0071C3;
--secondary: #00B8D9;
--primaryDarker: #5EFBD6;
*/
/* rgb(33, 14, 37)
rgb(253,200,88)
#4fd3b4
rgb(250,69,140)  */