.main {
    --hehe: #b00b69;
    background: #00405b;
    padding-bottom: 10%;
}
.para {
    margin: 5%;
    font-size: 1.25rem;
    color: var(--secondary);
}
.instructions h3,
.instructions ul {
    color: var(--secondary);
}
.instructions ul {
    margin-top: 2.5%;
}
.instructions li {
    margin-top: 1%;
    max-width: min(80vw, 50em);
    margin-inline: auto;
}
.flexRowEnd {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.solvedButton,
.solvedButton:hover,
.solvedButton:focus {
    background: var(--hehe);
    color: white;
    margin-right: 5%;
}
.solvedButton.alt,
.solvedButton:hover.alt,
.solvedButton:focus.alt {
    background: white;
    color: var(--hehe);
}
.header {
    color: white;
}
