.main {
    background: #00405b;
    padding-bottom: 10%;
}
.para {
    margin: 5%;
    font-size: 1.5rem;
    color: var(--secondary);
}
.instructions h3,
.instructions ul {
    color: var(--secondary);
}
.instructions ul {
    margin-top: 2.5%;
}
.instructions li {
    margin-top: 1%;
}
