.main {
    --primary: #00405b;
    --secondary: #fff;
    --tertiary: #0083e0;
    background: var(--primary);
    height: 90%;
    width: 100%;
}
.header {
    background: var(--primary);
    color: var(--secondary);
    padding: 1rem 1rem 0 1rem;
    display: flex;
}
.content {
    padding: 0rem 1rem 1rem 1rem;
}
.questionBlock {
    background: var(--tertiary);
    text-align: center;
    color: var(--secondary);
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem 0 2rem 0;
}

.questionBlock > p {
    overflow: hidden;
}

.close {
    background: var(--tertiary) !important;
    color: var(--secondary);
}
.top {
    margin-top: 5%;
}

.questionLink {
    display: inline-block;
    padding: 1rem;
}
.questionLink > * {
    color: rgb(78, 187, 145);
}
.hintLink {
    padding: 1rem;
}

.flag {
    font-size: 3rem !important;
    color: var(--tertiary) !important;
}
.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexRow > * {
    margin: 0% 2.5%;
}
.input {
    color: var(--secondary);
}
.title {
    width: 100%;
    padding-left: 5%;
}
.title > h3 {
    color: var(--secondary);
    text-align: start;
    font-size: 2rem;
}
.hintButton {
    margin: 2% 5% 2% 0%;
    background: var(--tertiary);
    color: var(--secondary);
    padding: 4%;
}
.hintRow {
    display: flex;
    flex-direction: row;
}
.reveal {
    cursor: pointer;
}
@media only screen and (max-width: 1260px) {
    .main {
        overflow: scroll;
    }
    .questionBlock > p {
        font-size: 1rem;
    }
    .hintRow {
        flex-direction: column;
    }
}
