.box {
    --titleColor: #f0f0f0;
    --titleHoverColor:#000;
    --titleAttemptedColor:#2d494b;
    --primary: #0071C3;
    --secondary: #00B8D9;
    --primaryDarker: #5EFBD6;
    --fontColor: #000;
    background: var(--primary);
    color: var(--fontColor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box:hover {
    cursor: pointer;
    background: var(--primaryDarker);
    color: var(--fontColor);
}
.attempted {
    border: black 1px solid;
    background: var(--secondary);
    color: var(--fontColor);
}
.attempted .title{
    color: var(--titleColor);
}
.title {
    color: var(--titleColor);
}
.box:hover .title {
    color: var(--titleHoverColor);
}
