{% extends 'base.html' %}

{% block content %}
<div class="row center">
    <div class="col l6 offset-l3 m8 offset-m2 s12">
        <div class="card">
            <div class="card-content black-text">
                <span class="center card-title">
                    Edit Project
                </span> 
                <form method="POST" action="{% url 'project:edit' project.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="form-icon material-icons prefix">
                                dashboard
                            </i>
                            
                            {{form.name}}
                            <label>
                                {{form.name.label}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="form-icon material-icons prefix">
                                event
                            </i>
                            {{form.tags}}
                            <label>
                                {{form.tags.label}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="form-icon material-icons prefix" style="left:10px">
                                people
                            </i>
                            {{form.editable_by}}
                            <label>
                                {{form.editable_by.label}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="form-icon material-icons prefix" style="left:10px">
                                polymer
                            </i>
                            {{form.sigs}}
                            <label>
                                {{form.sigs.label}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="form-icon material-icons prefix" style="left:10px">
                                access_time
                            </i>
                            {{form.year}}
                            <label>
                                {{form.year.label}}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="form-icon material-icons prefix" style="left:10px">
                                add_photo_alternate
                            </i>
                            {{form.img_url}}
                            <label>
                               Insert Project Image URL
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-field col s10 valign-wrapper offset-s1">
                            <label>
                                {{form.summary.label}}
                            </label>
                            {{form.summary}}

                        </div>
                    </div>
                    <div class="row">
                        <div class="text-field col s10 valign-wrapper offset-s1">
                            <label>
                                {{form.description.label}}
                            </label>
                            {{form.description}}

                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Edit project
                        <i class="material-icons right">
                            create
                        </i>
                    </button>
                </form>
{% endblock content %}