{% extends 'base.html' %}
{% block content %}
<h3><span>{{sig_name}} Projects</span></h3>     

{% for year, yearly_projects in projects.items %}
  <h5>{{ year }}</h5>
  <ul>
    {% for project in yearly_projects %}
      <a href="{% url 'project:details' project.id %}"><li>{{project.name}}</li></a>
    {% endfor %}
  </ul>
{% endfor %}
 
<h5>Check out ISTE's Virtual Project Expo 2019-20 <a href="https://sites.google.com/view/isteprojectexpo/" target="_blank">here!</a></h5>

{% endblock %}
{% block scripts %}
  {% load static %}
  {% load compress %}
  {% compress js %}
  <script type="text/javascript" src="{% static 'js/project/main.js'%}"></script>
  {% endcompress %}
{% endblock %}